<h1>Message provenant de votre site:</h1>

<p>
    {{ message }}
</p>
<h2>Coordonnées:</h2>
<p>Nom: {{ contact.name }}</p>
<p>Prénom: {{ contact.firstname }}</p>
<p>Téléphone: {{ contact.phone }}</p>
<p>Email: {{ contact.email }}</p>